<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.FoodWar"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:hardwareAccelerated="true"
        tools:targetApi="31">

        <activity
            android:name=".user_management.ForgetPassword"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".user_management.AdminActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".user_management.LoginActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".user_management.spashScreen"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".user_management.IntroActivity"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity android:name=".blogs_management.MainActivityBlogs"></activity>
        <activity android:name=".blogs_management.DetailActivityBlogs"></activity>
        <activity android:name=".menu.MainMenu"
            android:theme="@style/Theme.FoodWar"
            >
        </activity>
        <activity android:name=".menu.SettingsFragment"></activity>
        <activity android:name=".menu.HomeFragment"></activity>
        <activity android:name=".admin_activity.EditUserActivity"></activity>
        <activity android:name=".admin_activity.FoodActivity"></activity>
        <activity android:name=".admin_activity.StoreActivity"></activity>
        <activity android:name=".admin_activity.UserActivity"></activity>
        <activity android:name=".menu.ShareFragment"></activity>
        <activity android:name=".menu.AboutFragment"></activity>
        <activity android:name=".blogs_management.MainupBlogsItems"></activity>
        <activity android:name=".menu.getAccountMenu"></activity>
        <activity android:name=".blogs_management.UpdateActivity"></activity>
        <activity android:name=".user_management.UserProfileMain"></activity>
        <activity android:name=".menu.MainDarkMode"
            android:theme="@style/AppTheme"
            ></activity>
        <activity android:name=".home_management.HomeActivity"
            android:theme="@style/Theme.FoodWar"
            >
        </activity>
        <activity android:name=".home_management.SearchActivity"></activity>
        <activity android:name=".home_management.SearchByLocationActivity"></activity>
        <activity android:name=".food_management.DetailFood"></activity>
        <activity android:name=".food_management.RestaurantActivity"></activity>
        <activity android:name=".food_management.FeedBackActivity"></activity>
        <activity android:name=".home_management.HomeFoodDetail"></activity>
    </application>

</manifest>